<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="filename" value="shoot.png"/>
      <add key="cycleMin" value="255"/>
      <add key="cycleMax" value="255"/>
      <add key="cycleRate" value="6"/>
      <add key="flipRate" value="4"/>
      <add key="scale" value="16"/>
      <add key="FontFile" value="Polentical Neon Regular.ttf"/>
      <add key="Font" value="Arial"/>
      <add key="music" value="Robot.mp3"/>
      <add key="vfps" value="60"/>
      <add key="cfps" value="60"/>
    </appSettings>
</configuration>